version: '2.1'
services:
  emerald:
    extends:
      file: config.yml
      service: emerald
    build:
        context: ./
        dockerfile: Dockerfile.dev
    image: myriade/emerald:dev
    command: ["bash", "-c", "npm run migration:up && npm run start:dev"]
    environment:
      - NODE_ENV=local
    volumes:
      - ./:/usr/src/app
    ports:
      - "8088:8088"
      - "9878:9878"
